RewriteEngine on
RewriteBase /
Options All -ExecCGI -Indexes -Includes +FollowSymLinks

# Bad Rquest
ErrorDocument 400 /400.html
# Authorization Required
ErrorDocument 401 /401.html
# Forbidden
ErrorDocument 403 /undefined
# Not found
ErrorDocument 404 /404.html
# Method Not Allowed
ErrorDocument 405 /405.html
# Request Timed Out
ErrorDocument 408 /408.html
# Request URI Too Long
ErrorDocument 414 /414.html
# Internal Server Error
ErrorDocument 500 /500.html
# Not Implemented
ErrorDocument 501 /501.html
# Bad Gateway 
ErrorDocument 502 /502.html
# Service Unavailable 
ErrorDocument 503 /503.html
# Gateway Timeout
ErrorDocument 504 /504.html


RewriteRule ^admin/(/?)$ /admin.php [L]
RewriteRule ^admin(/?)$ /admin.php [L]

RewriteRule ^([^.]+).html(/?)$ index.php?action=static&page=$1 [L]
RewriteRule ^([0-9]+)(/?)$ index.php?user=$1 [L]

RewriteRule ^([^.]+)/([^.]+)/([0-9]+)/(/?)$ index.php?action=$1&sub=$2&page=$3 [L]
RewriteRule ^([^.]+)/([^.]+)/([0-9]+)(/?)$ index.php?action=$1&sub=$2&page=$3 [L]
RewriteRule ^([^.]+)/([0-9]+)/(/?)$ index.php?action=$1&page=$2 [L]
RewriteRule ^([^.]+)/([0-9]+)(/?)$ index.php?action=$1&page=$2 [L]

RewriteRule ^([^.]+)/([^.]+)/([^.]+)/(/?)$ index.php?action=$1&sub=$2&param=$3 [L]
RewriteRule ^([^.]+)/([^.]+)/(/?)$ index.php?action=$1&sub=$2 [L]
RewriteRule ^([^.]+)/(/?)$ index.php?action=$1 [L]

RewriteRule ^([^.]+)/([^.]+)/([^.]+)(/?)$ index.php?action=$1&sub=$2&param=$3 [L]
RewriteRule ^([^.]+)/([^.]+)(/?)$ index.php?action=$1&sub=$2 [L]
RewriteRule ^([^.]+)(/?)$ index.php?action=$1 [L]
